<div class="calculator">
  <p-inputNumber
    [(ngModel)]="value"
    mode="decimal"
    [minFractionDigits]="0"
    [maxFractionDigits]="10"
  ></p-inputNumber>

  <!-- <input type="text" pInputText [(ngModel)]="value" /> -->

  {{ value }}
  <br />
  {{ accumulator }}
  <br />
  {{ callstack | json }}

  <div class="buttons">
    <div *ngFor="let button of buttons">
      <button
        pButton
        pRipple
        type="button"
        class="p-button-rounded p-button-outlined"
        (click)="onButtonClicked(button.value)"
      >
        {{ button.label }}
      </button>
    </div>
  </div>
</div>
