<div class="calculator">
  <div class="output-display">
    <p-inputNumber
      [(ngModel)]="value"
      mode="decimal"
      [minFractionDigits]="0"
      [maxFractionDigits]="20"
      [disabled]="true"
    ></p-inputNumber>
  </div>

  <div class="buttons">
    <div *ngFor="let button of buttons">
      <button
        pButton
        pRipple
        type="button"
        class="p-button-rounded p-button-outlined"
        [label]="button.label"
        (click)="onButtonClicked(button.value)"
      ></button>
    </div>
  </div>
</div>
